@media screen and (max-width:614px) {
    .dissapearObject{
        display: none;
    }
}

@media screen and (min-width:614px) {
    .appearMovileObject{
        display: none;
    }

}

.especialButtonClose{
    background: none;
    border-color: none;
    border: none;
    font-size: 35px;
}

.especialButtonClose {
    margin-bottom: 10px;
}

.generalContainer{
    margin-top: 40px;
    margin-bottom: 1px;
}
#Lobby{
    height: 500px;
}

.notcounted{
    background-color: rgba(45, 48, 48, 0.578);
}
.correctCount{
    background-color: rgba(12, 82, 2, 0.578);
}
.negativeCount{
    background-color: rgba(119, 30, 30, 0.578);
}
.positiveCount{
    background-color: rgba(2, 87, 93, 0.578);
}

.notcounted2{
    background-color: rgba(45, 48, 48, 0.493);
    color: rgb(255, 255, 255);
}
.correctCount2{
    background-color: rgba(11, 82, 2, 0.581);
    color: rgb(255, 255, 255);
}
.negativeCount2{
    background-color: rgba(119, 30, 30, 0.626);
    color: rgb(255, 255, 255);
}
.positiveCount2{
    background-color: rgba(2, 87, 93, 0.692);
    color: rgb(255, 255, 255);
}

.lobbyContainer{
    min-height: 52vh;
}

.textAreaGeneral textarea{
    resize: none;
}

.textAreaComment{
    width: 100%;
}


.detailIMG{
    width: 170px;
}

.justifyText{
    text-align: justify;
}


.greenButton{
    background-color: rgb(1, 91, 22);
    color: aliceblue;
}

.greenButton:hover{
    background-color: rgb(0, 124, 29);
    color: aliceblue;
}

.blueButton{
    background-color: rgb(22, 9, 75);
    color: aliceblue;
}
.iconColor{
    color: aliceblue;
    background-color: aliceblue;
}

.blueButton:hover{
    background-color: rgb(37, 15, 129);
    color: aliceblue;
}

.pText p{
    font-size: 20px;
}

.brownButton{
    background-color: rgb(101, 16, 16);
    color: aliceblue;
}

.brownButton:hover{
    background-color: rgb(131, 25, 25);
    color: aliceblue;
}

.orangeButton{
    background-color: rgb(164, 56, 5);
    color: aliceblue;
}

.orangeButton:hover{
    background-color: rgb(198, 67, 6);
    color: aliceblue;
}

.yellowButton{
    background-color: rgb(217, 175, 23);
    color: rgb(0, 0, 0);
}

.yellowButton:hover{
    background-color: rgb(255, 206, 28);
    color: rgb(0, 0, 0);
}