
.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}


.tableFixHead          { overflow: auto; min-height: 10vh; max-height: 70vh; margin-bottom: 5%; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }


table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
.fs-mini{
  font-size: 12px;
}

/*
.tbody {
  display: block;
  height: 50vh;
  overflow: auto;
}


.thead,
.tfoot {
  width: calc(100% - 1em);
  display: table;
}

.thead,
.tfoot {
  width: calc(100% - 1em);
  font-weight: bold
}

.row_hover:hover {
  background-color: darkgray;
}
.cantidad{
  width:120px;
  background-color: black ;
}
*/