.tbody {
    display: block;
    height: 90vh;
    overflow: auto;
}


.thead,
.tfoot,
.tbody tr {
    width: calc(100% - 1em);
    display: table;
}
.tbody tr td{
    width: calc(100% - 1em);
}

.thead,
.tfoot {
    width: calc(100% - 1em);
    font-weight: bold
}

.row_hover:hover {
    background-color: darkgray;
}